<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/orders.css">
    <script src="/script/notifications.js" type='module' defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script>
      window.jsPDF = window.jspdf.jsPDF;
    </script>
    <script>
        fetch('/header.html')
            .then(res => res.text())
            .then(async data => {
                document.getElementById('header-container').innerHTML = data;
                import('/script/header.js');
            });
    </script>
</head>
<body>
    <div id="header-container"></div>
    <h1 class="orders-title">Notifications</h1>
    <div id="orders-container"></div>
</body>